
body {
  font-family: 'Georgia', serif;
  background-color: #f7f3e9;
  color: #4b3832;
  margin: 0;
  padding: 0;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #726242;
  color: #f7f3e9;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 1rem;
  color: black;
}

nav a{
  color: black;
}

.main_form {
  display: flex;
  justify-content: center; 
  align-items: center;      
  margin: 0;               
  padding: 0 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 20px;
}

.main form p{
  justify-content: space-between;
  margin: 0px;
  padding: 10px;
}

.main form{
  justify-content: center;
  align-content: center;
}

form button{
  margin: 10px;
}

section {
  flex: 80%;
  background-color: #fefcfb;
  padding: 20px;
  border-radius: 8px;
}

article {
  text-align: center;
}


aside {
  flex: 20%;
  padding: 20px;
  background-color: #eae7dc;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #726242;
  color: #f7f3e9;
  margin-top: 40px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 1rem;
  color: black;
}

footer a{
  color: white;
  text-decoration: none;
}


